In [ ]:
'''
Q1 What are data structures, and why are they important?
 Ans >> Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are fundamental building blocks in programming and software development.
Common types of data structure

1. Primitive Data Structures
     -- Integer, Float, Char, Boolean

2. Linear Data Structures
   -- Array – Collection of elements stored in contiguous memory.
  --  Linked List – Elements (nodes) linked using pointers.
  --  Stack – LIFO (Last In, First Out).
  --  Queue – FIFO (First In, First Out).

3.Non-Linear Data Structures
  --  Tree – Hierarchical structure (e.g., Binary Tree, Binary Search Tree).
  --  Graph – Set of nodes connected by edges (useful for networks).

4. Hash-based Structures
Hash Table / Hash Map – Key-value pairs with fast lookups.


Why Are Data Structures Important?

1. Efficiency

  --  The right data structure improves the performance of algorithms (speed, memory usage).
  --  Example: Using a hash map can reduce search time from O(n) to O(1).

2. Organization

  -- Helps manage and organize large amounts of data.
  -- Example: Databases rely on honey (e.g., B-honey) for indexing.

3.Problem Solving

  -- Many real-world problems can be translated into data structures.
  -- Example: Routing maps use graphs.

4. Code Quality
  -- Clear structure, modularity, and easier debugging.

5. Scalability
  -- Efficient data handling is essential for applications that scale (web servers, big data, etc.).
  '''

In [ ]:
'''
Q2 Explain the difference between mutable and immutable data types with examples.
  Ans>> -- Mutable data types are those which can be changed or editing after creation, whereas immutable data types are those which cannot be changed once they are created.
'''
# Example (Mutable data type)
my_list = ["Matender", "Apple", "Banana", "Sanjay"]
my_list
my_list.append("Ginger")
my_list

# Example (Immutable data base)
data = ("Matender", "Apple", "Banana", "Sanjay")

# Trying to add an item
data = data + ("Ginger",)
print(data)

('Matender', 'Apple', 'Banana', 'Sanjay', 'Ginger')

In [ ]:
'''
Q3. What are the main differences between lists and tuples in Python?
Ans >> 1. List can be changed.
       2. Tuple cannot be changed.
       3. List uses square brackets [].
       4. Tuple uses parentheses ().
       5. We can add or remove items from a list.
       6. we cannot add or remove items from a tuple.
       7. List is mutable.
       8. Tuple is immutable.
       9. Lists have many methods like append() and remove().
       10. Tuples have very few methods.
       11. Tuples are faster than lists.
       12. List are slower than tuples.
'''

In [ ]:
'''
Q4  Describe how dictionaries store data.
Ans >> -- Dictionaries store data in the form of key-value pairs. Each key is unique and immutable, and it is associated with a value. Internally, Python uses a hash table to store these pairs. When a key is added, Python calculates a hash value for it, which determines where the value is stored in memory. This allows dictionaries to access values very quickly using their keys.
'''

In [ ]:
'''
Q5. Why might you use a set instead of a list in Python?

Ans >> -- Unique Items:
A set automatically removes duplicates. If you want to store only unique elements, sets are perfect.

Faster Membership Checking:
Checking if an item exists (in operator) is much faster in sets than in lists, because sets use hashing.

No Order Needed:
If you don’t care about order and just want to store unique items, sets are better since lists keep order.

Set Operations:
Sets support operations like union, intersection, and difference which are useful in many problems.
'''
#Example
my_list = [1, 2, 2, 3, 4, 4]
my_set = set(my_list)
my_set

{1, 2, 3, 4}

In [ ]:
'''
Q6. What is a string in Python, and how is it different from a list?
Ans >> -- A string in Python is a sequence of characters enclosed in quotes. It is used to store text and is immutable, meaning it cannot be changed after creation.

     -- A list is a collection of items enclosed in square brackets. Lists can store different types of data and are mutable, so their items can be changed, added, or removed.

    -- The main difference is that strings store text and cannot be changed, while lists store multiple items and can be modified.
'''

In [ ]:
'''
Q7.  How do tuples ensure data integrity in Python?
Ans >> -- Tuples ensure data integrity in Python because they are immutable. This means once a tuple is created, its values cannot be changed, updated, or deleted.

This protects the data from accidental changes and keeps it safe and reliable. Tuples are often used when we want to store constant or fixed data, such as coordinates, settings, or configurations.

Because they cannot be modified, tuples help maintain the original structure and content of the data, which ensures data integrity.
'''

In [ ]:
'''
Q8. What is a hash table, and how does it relate to dictionaries in Python?
Ans >> -- A hash table is a data structure that stores data in key-value pairs using a process called hashing. It uses a hash function to convert keys into a specific index where the values are stored in memory.
In Python, the dictionary (dict) is implemented using a hash table. When you store a value in a dictionary, Python uses the key's hash value to decide where to store the data. This makes lookup, insertion, and deletion operations very fast — usually in O(1) time
'''
# Example
my_dict = {"name": "Rahul", "age": 20}
my_dict

{'name': 'Rahul', 'age': 20}

In [ ]:
'''
Q9. Can lists contain different data types in Python?
Ans  >> -- Yes, lists in Python can contain different data types. A single list can hold integers, strings, floats, booleans, and even other lists or objects. This makes lists very flexible and powerful for storing mixed data.
'''
# Example
my_list = [1, "apple", 3.14, True, [1, 2, 3]]
my_list

[1, 'apple', 3.14, True, [1, 2, 3]]

In [ ]:
'''
Q10. Explain why strings are immutable in Python.
Ans >> -- Strings are immutable in Python, which means their contents cannot be changed after they are created. This is done to make strings safe, efficient, and memory-friendly.When you try to change a string, Python creates a new string instead of modifying the original one. This helps prevent accidental changes, allows string sharing in memory, and makes programs more secure and predictable.
'''

In [ ]:
'''
Q11. What advantages do dictionaries offer over lists for certain tasks?
Ans >> -- Dictionaries provide several advantages over lists:
         1. Fast Access: Dictionaries allow fast data access using keys (O(1) time), while lists need to search through elements (O(n) time).
         2. Key-Value Storage: Data is stored in key-value pairs, making it easier to understand and use.
         3. Unique Keys: Each key in a dictionary is unique, preventing duplicate entries.
         4. Better Readability: Accessing data using meaningful keys (like names or IDs) makes code more readable.
         5. Efficient Updates: Values can be quickly updated using their keys.
'''
#Example
 # Using a dictionary
marks = {"Amit": 85, "Matender": 92, "Sanjay": 78}
print(marks["Matender"])

92

In [ ]:
'''
Q12: Describe a scenario where using a tuple would be preferable over a list.
Ans  >> -- A tuple is better when the data should not change. For example, storing a person's date of birth is a good case because the date never changes. Using a tuple keeps the data safe and uneditable.
'''

In [ ]:
'''
Q13. How do sets handle duplicate values in Python?
Ans >> -- Sets in Python automatically ignore duplicates.
When you add values to a set, if the value is already present, it won't be added again. This means sets only store unique elements.
'''
#Example
set = {1, 2, 3, 1, 2, 4, 2}
set

{1, 2, 3, 4}

In [ ]:
'''
Q14. How does the “in” keyword work differently for lists and dictionaries?
Ans >> -- In lists, the in keyword checks if a value is present anywhere in the list by searching through all elements.
       -- In dictionaries, the in keyword checks if a key exists in the dictionary, not the values.
'''
# Example or List
list = [10, 20, 30]
print(10 in list)

# Example of Dictonary
my_dict = {"a" : 1, "b" : 2}
print(1 in my_dict)

True
False

In [ ]:
'''
Q15: Can you modify the elements of a tuple? Explain why or why not.
Ans >> -- No, you cannot modify the elements of a tuple because tuples are immutable in Python.
This means once a tuple is created, its values cannot be changed, added, or removed.
'''
# Example
my_tuple = (10, 20, 30)
my_tuple[0] = 40
it will show an error.

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''
Q16. What is a nested dictionary, and give an example of its use case?
Ans >> -- A nested dictionary is a dictionary that contains another dictionary as a value. It is used to store structured data in a hierarchical format.
'''
#Example
students = {
    "student1": {"name": "Amit", "age": 17, "marks": 85},
    "student2": {"name": "Rina", "age": 16, "marks": 92}
}
print(students["student1"]["marks"])

85

In [ ]:
'''
Q17. Describe the time complexity of accessing elements in a dictionary.
Ans >> -- In Python, accessing elements in a dictionary using a key has an average time complexity of O(1) (constant time).
This means the time taken to access a value does not increase with the size of the dictionary.
'''
#Example
my_dict = {"a": 10, "b": 20, "c": 30}
(my_dict["b"])

20

In [ ]:
'''
Q18. In what situations are lists preferred over dictionaries?
Ans >> --    Lists are preferred over dictionaries when:
          1. Order matters – Lists maintain the order of elements.
          2. You only need values – No need for key-value pairs.
          3. You have duplicate items – Lists allow duplicates.
          4. You want to loop through data in sequence – Index-based access is useful.
'''

In [ ]:
'''
Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
ANS >> -- Dictionaries are called unordered because their items do not have a fixed position like in a list. You cannot access items by index (like 0, 1, 2).
effect ; To get data from a dictionary, you always need to know the key. You cannot get a value by its position.
'''
# Example
info = {"name": "Amit", "age": 20}
print(info["age"])
print(info[0])   # Error, no index access

20

KeyError: 0

In [ ]:
'''
Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans >> -- List --
In a list, data is retrieved using index positions (like 0, 1, 2), so you access elements by their order.
-- Dictionary --
In a dictionary, data is retrieved using keys, not positions. You access values by specifying the key associated with them.
'''
# List example
my_list = [10, 20, 30]
print(my_list[1])

# Dictionary example
my_dict = {"a": 10, "b": 20}
print(my_dict["a"])

20
10

Practical Questions

In [2]:
'''
Q1. Write a code to create a string with your name and print it?
'''
my_name = "Matender kumar"
print(my_name)

Matender kumar

In [3]:
'''
Q2. Write a code to find the length of the string "Hello World".
'''
my_string = "Hello World"
len(my_string)

11

In [4]:
'''
Q3. Write a code to slice the first 3 characters from the string "Python Programming".
'''
my_string = "Python Programming"
my_string[0:3]

'Pyt'

In [5]:
'''
Q4. Write a code to convert the string "hello" to uppercase.
'''
my_string = "hello"
my_string.upper()

'HELLO'

In [6]:
'''
Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
'''
my_string = "I like apple"
my_string.replace("apple", "orange")

'I like orange'

In [7]:
'''
Q6. Write a code to create a list with numbers 1 to 5 and print it.
'''
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
'''
Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
'''
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
'''
Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
'''
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
'''
Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
'''
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [11]:
'''
Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
'''
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [12]:
'''
Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
'''
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
'''
Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
'''
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [14]:
'''
Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
'''
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [15]:
'''
Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index("cat")

1

In [16]:
'''
Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
'''
fruits = ("apple", "banana", "kiwi")
"kiwi" in fruits

True

In [17]:
'''
Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
'''
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [18]:
'''
Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
'''
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [19]:
'''
Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
'''
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
'''
Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
'''
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
my_set1.union(my_set2)

{1, 2, 3, 4, 5}

In [21]:
'''
Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
my_set1.intersection(my_set2)

{2, 3}

In [22]:
'''
Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
'''
my_dict = {"name": "Matender", "age": 25, "city": "Delhi"}
print(my_dict)

{'name': 'Matender', 'age': 25, 'city': 'Delhi'}

In [23]:
'''
Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
'''
Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

In [27]:
'''
Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
'''
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [28]:
'''
Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
'''
my_dict = {'name': 'Alice', 'city': 'Paris'}
"city" in my_dict

True

In [32]:
'''
Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
'''
my_list = [1, "Matender", "New york"]
my_tuple = ('a', 'b', 'c', 'd' )
my_dict = {"a": 10, "b": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 'Matender', 'New york']
('a', 'b', 'c', 'd')
{'a': 10, 'b': 20}

In [35]:
'''
Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)
'''
num_list = [11, 99, 15, 44, 14]
num_list.sort()
print(num_list)

[11, 14, 15, 44, 99]

In [37]:
'''
Q28. Write a code to create a list with strings and print the element at the third index.
'''
my_list = ["apple", "ginger", "orange", "kiwi"]
my_list[3]

'kiwi'

In [39]:
'''
Q29. Write a code to combine two dictionaries into one and print the result.
'''
dict1 = {"a": 10, "b": 20}
dict2 = {"c": 30, "d": 40}
result = {**dict1, **dict2}
print(result)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [40]:
'''
Q30. Write a code to convert a list of strings into a set.
'''
my_list = ["apple", "banana", "kiwi"]
my_set = set(my_list)
print(my_set)

{'apple', 'kiwi', 'banana'}